{% extends 'base.html.twig' %}

{% block title %}Apartment{% endblock %}

{% block body %}
    <h1>Apartment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ apartment.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ apartment.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ apartment.address }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ apartment.size }}</td>
            </tr>
            <tr>
                <th>RentAmount</th>
                <td>{{ apartment.rentAmount }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ apartment.createdAt ? apartment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ apartment.updatedAt ? apartment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ apartment.deletedAt ? apartment.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_apartment_index') }}">back to list</a>

    <a href="{{ path('app_apartment_edit', {'id': apartment.id}) }}">edit</a>

    {{ include('apartment/_delete_form.html.twig') }}
{% endblock %}
